flows-azure-iot-central.json
[{"id":"cc61b493.f53e68","type":"tab","label":"Azure IoT Central","disabled":false,"info":""},{"id":"65cfba1f.f59464","type":"debug","z":"cc61b493.f53e68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":80,"wires":[]},{"id":"5f469adb.9a5434","type":"function","z":"cc61b493.f53e68","name":"onEcho","func":"if(flow.get('echo')){\n    return;   \n}\nelse{\n    node.log(\"Registering onEcho\");\n}\n\nfunction onEcho(request, response) {\n  node.log('Received synchronous call to echo');\n  node.log (\"Method name: \" + request.methodName );\n  node.log (\"Value: \" + request.payload);\n  \n  data = \"you said:\" + String(request.payload);\n\n  response.send(200, data , (err) => {\n    if (err) {\n      node.log('Unable to send method response: ' + err.toString());\n    }\n    else {\n            node.log('Response to method \\'' + request.methodName +\n                '\\' sent successfully... ' + data);\n        }\n  });\n}\n\nflow.set('echo',onEcho);\n","outputs":1,"noerr":0,"x":360,"y":180,"wires":[[]]},{"id":"852aa7a.ca83d58","type":"Azure IoT Central","z":"cc61b493.f53e68","scopeid":"0ne000C7916","deviceid":"real","primarykey":"+TJNFdkRMD8bBZXyCsGQ9Z41uvMzXOgvcwWenv6g6ak=","command1":"echo","command2":"turnOn","command3":"turnOff","command4":"","command5":"","x":350,"y":40,"wires":[["65cfba1f.f59464"]]},{"id":"ac8e141e.7e9318","type":"data-generator","z":"cc61b493.f53e68","name":"temperature","field":"payload","fieldType":"msg","syntax":"json","template":"{\n    \"temperature\": \"{{int 20 40}}\"\n}","x":110,"y":80,"wires":[["852aa7a.ca83d58"]]},{"id":"a3d48ecf.47f16","type":"inject","z":"cc61b493.f53e68","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":240,"wires":[["ac8e141e.7e9318","5f469adb.9a5434","6cc00f6c.58673"]]},{"id":"6cc00f6c.58673","type":"function","z":"cc61b493.f53e68","name":"turnOn, turnOff","func":"var ledOn = flow.get('ledOn');\nif(ledOn === null ||ledOn === undefined) \n{\n    node.log(\"LED initialized to off.\");\n    ledOn = false;\n    flow.set('ledOn', ledOn);\n}\nif(flow.get('turnOn') && flow.get('turnOff')){\n    return;   \n}\nelse{\n    node.log(\"Registering turnXx\");\n}\n\n// Handle LED turn on command\nfunction turnOn(request, response) {\n  node.log('Received asynchronous call to turn on LED');\n  if(!ledOn){\n    node.log('Turning on the LED');\n    ledOn = true;\n    flow.set('ledOn', ledOn);\n  }\n  response.send(200, (err) => {\n    if (err) {\n      node.error('Unable to send method response: ' + err.toString());\n    }\n  });\n}\n\n// Handle LED turn off command\nfunction turnOff(request, response) {\n  node.log('Received asynchronous call to turn off LED');\n  if(ledOn){\n    node.log('Turning off the LED');\n    ledOn = false;\n    flow.set('ledOn', ledOn);\n  }\n  response.send(200, (err) => {\n    if (err) {\n      node.error('Unable to send method response: ' + err.toString());\n    }\n  });\n}\n\nflow.set('turnOn',turnOn);\nflow.set('turnOff',turnOff);\n\n//node.log(\"turnOn, turnOff initialized.\");","outputs":1,"noerr":0,"x":420,"y":258,"wires":[[]]}]