samples/SenseHAT telemetry.json
[{"id":"53da2aa4.a052e4","type":"tab","label":"Raspberry Sense HAT - Telemetry","disabled":false,"info":""},{"id":"3f3d8f87.3ebb7","type":"debug","z":"53da2aa4.a052e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":180,"wires":[]},{"id":"66707cc5.8bdca4","type":"rpi-sensehat in","z":"53da2aa4.a052e4","name":"","motion":false,"env":true,"stick":false,"x":130,"y":180,"wires":[["52438649.a2b078"]]},{"id":"52438649.a2b078","type":"delay","z":"53da2aa4.a052e4","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":340,"y":180,"wires":[["3f3d8f87.3ebb7","e81db78e.a6cbb8"]]},{"id":"e81db78e.a6cbb8","type":"Azure IoT Central","z":"53da2aa4.a052e4","scopeid":"0ne0015A178","deviceid":"rasp-hat-01","primarykey":"6GG8QXPoM73/D+JVKeK6OP0i/3dJbo7FYcTYIjypgko=","command1":"","command2":"","command3":"","command4":"","command5":"","property1":"","property2":"","property3":"","property4":"","property5":"","transport":"mqtt","auth":"sas","certfile":"","certkeyfile":"","passwordi":"","x":560,"y":260,"wires":[[]]}]