flows/0. Connect only.json
[{"id":"1a7f6e8d.8874d1","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"75d8e212.c377dc","type":"Azure IoT Central","z":"1a7f6e8d.8874d1","scopeid":"","deviceid":"","primarykey":"","command1":"","command2":"","command3":"","command4":"","command5":"","transport":"mqtt","auth":"sas","certfile":"","certkeyfile":"","passwordi":"","x":490,"y":200,"wires":[["1eaeeca4.125703"]]},{"id":"d2a169ae.05beb8","type":"inject","z":"1a7f6e8d.8874d1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"temperature\":35}","payloadType":"json","x":230,"y":200,"wires":[["75d8e212.c377dc"]]},{"id":"1eaeeca4.125703","type":"debug","z":"1a7f6e8d.8874d1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":780,"y":120,"wires":[]}]