flows/2. Respond to commands.json
[{"id":"1a7f6e8d.8874d1","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1eaeeca4.125703","type":"debug","z":"1a7f6e8d.8874d1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":240,"wires":[]},{"id":"929fe27a.a4bfb","type":"Azure IoT Central","z":"1a7f6e8d.8874d1","scopeid":"","deviceid":"","primarykey":"","command1":"turnLedOn","command2":"","command3":"","command4":"","command5":"","transport":"mqtt","auth":"sas","certfile":"","certkeyfile":"","passwordi":"","x":550,"y":200,"wires":[["1eaeeca4.125703"]]},{"id":"b4619462.6da9c8","type":"inject","z":"1a7f6e8d.8874d1","name":"Connect to IoTC","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"temperature\":35}","payloadType":"json","x":260,"y":180,"wires":[["929fe27a.a4bfb"]]},{"id":"e47e5275.3031a","type":"function","z":"1a7f6e8d.8874d1","name":"turnLedOn Command from IoTC","func":"// This script create a command with the same name 'turnLedOn' \n// used in Azure IoT Central model of the device.\nif(flow.get('turnLedOn')){\n    return;   \n}\n\nfunction onTurnLedOn(request, response) {\n  node.log('Received synchronous call from turnLedOn');\n  node.log (\"Method name: \" + request.methodName );\n  node.log (\"Value: \" + request.payload);\n  \n  data = \"you said:\" + String(request.payload);\n\n  response.send(200, data , (err) => {\n    if (err) {\n      node.log('Unable to send method response: ' + err.toString());\n    }\n    else {\n            node.log('Response to method \\'' + request.methodName + '\\' sent successfully... ' + data);\n        }\n  });\n}\n\nflow.set('turnLedOn',onTurnLedOn);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":300,"wires":[[]]},{"id":"c5175b62.3a9ec8","type":"inject","z":"1a7f6e8d.8874d1","name":"activate commands","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":300,"wires":[["e47e5275.3031a"]]}]