flows/4. Properties.json
[{"id":"1a7f6e8d.8874d1","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1eaeeca4.125703","type":"debug","z":"1a7f6e8d.8874d1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":80,"wires":[]},{"id":"929fe27a.a4bfb","type":"Azure IoT Central","z":"1a7f6e8d.8874d1","scopeid":"","deviceid":"","primarykey":"","command1":"","command2":"","command3":"","command4":"","command5":"","transport":"mqtt","auth":"sas","certfile":"","certkeyfile":"","passwordi":"","x":570,"y":100,"wires":[["1eaeeca4.125703"]]},{"id":"93bd9cc6.08229","type":"inject","z":"1a7f6e8d.8874d1","name":"Send Reported Properties (Device->Cloud)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"reported.properties\":{\"status\":true,\"nonexists\":true,\"climate\":{\"minTemperature\":\"68\",\"maxTemperature\":\"76\"}}}","payloadType":"json","x":240,"y":80,"wires":[["929fe27a.a4bfb"]]}]