flows/4.1 Properties desired.json
[{"id":"1a7f6e8d.8874d1","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1eaeeca4.125703","type":"debug","z":"1a7f6e8d.8874d1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":240,"wires":[]},{"id":"929fe27a.a4bfb","type":"Azure IoT Central","z":"1a7f6e8d.8874d1","scopeid":"","deviceid":"","primarykey":"","command1":"turnLedOn","command2":"","command3":"","command4":"","command5":"","transport":"mqtt","auth":"sas","certfile":"","certkeyfile":"","passwordi":"","x":550,"y":200,"wires":[["1eaeeca4.125703"]]},{"id":"b4619462.6da9c8","type":"inject","z":"1a7f6e8d.8874d1","name":"Connect to IoTC","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"temperature\":35}","payloadType":"json","x":240,"y":180,"wires":[["929fe27a.a4bfb"]]},{"id":"8daf576e.bd4998","type":"inject","z":"1a7f6e8d.8874d1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":300,"wires":[["141e539d.b42c8c"]]},{"id":"141e539d.b42c8c","type":"function","z":"1a7f6e8d.8874d1","name":"","func":"// This is a property set in IoT Central.\n// It's a desired property for the device twin.\nfunction brightness2(newValue)\n{\n    node.log(\"received desired prop from cloud:\" + newValue);\n    flow.set('brightness', newValue);\n}\n\nflow.set('brightness2-handler',brightness2);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":300,"wires":[[]]}]