flows/5.1 Raspberry Sense Hat - Telemetry.json
[{"id":"9b6fedd0.13212","type":"tab","label":"5.1 Raspberry Sense Hat - Telemetry","disabled":false,"info":""},{"id":"5dd9f127.ef1e7","type":"rpi-sensehat in","z":"9b6fedd0.13212","name":"","motion":false,"env":true,"stick":false,"x":250,"y":280,"wires":[["ca6a8759.1701c8"]]},{"id":"ccfd5c14.c94a","type":"debug","z":"9b6fedd0.13212","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":280,"wires":[]},{"id":"6ce23756.6198a8","type":"function","z":"9b6fedd0.13212","name":"format json","func":"{\n    var m = msg.payload;\n    msg.payload = {temperature: m.temperature};\n    return msg;\n}\n","outputs":1,"noerr":0,"x":550,"y":280,"wires":[["bb53a63b.fb36d8"]]},{"id":"ca6a8759.1701c8","type":"json","z":"9b6fedd0.13212","name":"","property":"payload","action":"obj","pretty":false,"x":390,"y":280,"wires":[["6ce23756.6198a8"]]},{"id":"bb53a63b.fb36d8","type":"Azure IoT Central","z":"9b6fedd0.13212","scopeid":"","deviceid":"","primarykey":"","command1":"echo","command2":"turnOn","command3":"turnOff","command4":"","command5":"","property1":"","property2":"","property3":"","property4":"","property5":"","transport":"mqtt","x":730,"y":280,"wires":[["ccfd5c14.c94a"]]}]